:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

/* цвет клиентских лого-иконок #AFB1B8 */

ul {
  list-style: none;
}

.logo {
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

/* преимущ. и команда */
.section-img,
.team,
.filter-item {
  background-color: var(--secondary-bg-color);
}

/* всё цветом акцента */
.logo span,
.link a:hover,
.link a:focus,
.adr-link:focus,
.section-item:hover,
.section-item:focus,
.soc-link:hover,
.soc-link:focus,
.clients a:hover,
.clients a:focus,
.filter-item:hover,
.filter-item:focus {
  color: var(--accent-color);
}

/* цвет адресов в хедере */
.nav-adr a,
.section-text {
  color: var(--primary-text-color);
}

/* основной фон */
main,
.team-card {
  background-color: var(--primary-white-color);
}

/* вторичный фон */
.footer .logo,
.hero,
.white-title,
.address {
  color: var(--primary-white-color);
}

/* заголовки */
.nav-list a,
.section-title,
.subtitle,
.team-title,
.team-name,
.filter-list {
  color: var(--title-text-color);
}

/* адрес в футере */
.adr-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: #2f303a;
}

/* права */
.copy {
  color: rgba(255, 255, 255, 0.4);
}

/* button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
